body{
    background-color: hsl(0, 0%, 90%);
}
.theme-section span{
    color: hsl(60, 10%, 19%);
}
.theme-btns{
    background-color: hsl(0, 5%, 81%);
}
.btn-2{
    background-color: hsl(6, 63%, 50%);
}
.output{
    color: hsl(60, 10%, 19%);
    background-color: hsl(0, 0%, 93%);
}
.controls{
    background-color: hsl(0, 5%, 81%);
}
.button{
    color: hsl(60, 10%, 19%);
    background-color: hsl(30, 25%, 89%);
    border-bottom-color: hsl(28, 16%, 65%);
}
.del, .reset{
    color: hsl(0, 0%, 100%);
    background-color: hsl(185, 42%, 37%);
    border-bottom-color: hsl(185, 58%, 25%);
}
.equals{
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 98%, 40%);
    border-bottom-color: hsl(25, 99%, 27%);
}